.user-details {
  display: flex;
  background-color: #1e262f;
  border-radius: 1rem;
  margin: 1cm;
  padding: 0.2cm;
  color: aliceblue;
  font-size: 20px;
}

.fun_user {
  margin-left: 4rem;
}

.fun_user_name {
  margin-left: 2rem;
}

.fun_user_walk_target {
  margin-left: 1rem;
}

.fun_user_date {
  margin-left: 6rem;
}

.fun_user_cal {
  margin-left: 6rem;
}

.fun_user_cal_target {
  margin-left: 1rem;
}

.fun_bell-icon {
  margin-top: 1.7rem;
  margin-bottom: 2.4rem;
  margin-left: 1.5rem;
  padding: 1.3rem;
  background-color: #36f5c7;
  border-radius: 1rem;
}

.mid_user_date {
  padding: 30px 0;
}

.mid_user_cal_target {
  padding: 40px 0;
}

.mid_user_walk_target {
  padding: 40px 0;
}

.walk-dia {
  padding-top: 24px;
}

.cal-dia {
  padding-top: 15px;
}

.user-image {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  padding: 40px 0;
  margin-left: 5rem;
}

.user-name {
  padding: 45px 0;
}

.userName {
  font-weight: 600;
}

.target {
  font-weight: 1000;
  font-size: 30px;
}

.start-date {
  /* margin-bottom: 1rem; */
  display: flex;
}
.start-icon {
  margin-right: 10px;
}

.start-text {
  margin-top: 7px;
}

.end-icon {
  margin-right: 10px;
}

.end-date {
  display: flex;
}

.end-date-error {
  display: flex;
  background-color: #cc3838;
  padding: 0.3rem;
  border-radius: 0.4rem;
}

.end-text {
  margin-top: 3px;
}

.arrow {
  padding-top: 3rem;
  background-color: #101317;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.arrow-exc {
  padding-top: 3rem;
  background-color: #cc3838;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.div-hover {
  width: 300px;
  color: #ffff;
  background-color: #1b222a;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.div-title {
  display: flex;
}

.cal-details {
  margin-left: 12rem;
}
